.channelRow {
  display: flex;
  align-items: center;
  width: 70%;
}

.channelRow__logo {
  width: 120px;
  height: 120px;
  margin: 10px 60px;
}

.channelRow__text {
  display: flex;
  flex-direction: column;
}

.channelRow__text > h4 {
  display: flex;
  align-items: center;
}

.channelRow__text > p {
  color: #606060;
  font-size: small;
  margin: 2px 0;
}

/* portrait */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .channelRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .channelRow__logo {
    width: 100px !important;
    height: 100px !important;
    margin: 10px 60px;
  }

  .channelRow__text {
    align-items: center;
  }
}

/* landscape */
@media only screen and (max-width: 568px) and (orientation: landscape) {
  .channelRow {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .channelRow__logo {
    width: 100px !important;
    height: 100px !important;
    margin: 10px 60px;
  }

  .channelRow__text {
    align-items: center;
  }
}
